/* Full-screen calendar adjustments */
.full-calendar .react-datepicker__day-name:last-child,
.full-calendar .react-datepicker__week .react-datepicker__day:last-child {
  display: none; /* Hide Sunday */
}

.full-calendar .react-datepicker {
  width: 100%;
  height: 100%;
}

.full-calendar .react-datepicker__month-container {
  width: 100%;
  height: 100%;
}

.full-calendar .react-datepicker__month {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.full-calendar .react-datepicker__week {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 columns for Mon-Sat */
}

.full-calendar .react-datepicker__day-name-container,
.full-calendar .react-datepicker__day-names {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.full-calendar .react-datepicker__day-name {
  width: 100%;
}
